<div>
    <label for="first_name">First Name</label>
    <input id="first_name" name="first_name" placeholder="Example: Sergei"/>
    <label for="last_name">Last Name:</label>
    <input id="last_name" name="last_name" placeholder="Example: Selin">
    <button onclick="addActor(
            $('#color').val(),
            $('#model').val(), '${_csrf.token}')">Add
    </button>
</div>