<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Users</title>
</head>
<body>
<h1>Actors</h1>
<table>
    <tr>
        <th>FirstName</th>
        <th>LastName</th>
    </tr>
    <#list actors as actor>
        <tr>
            <td>${actor.firstName}</td>
            <td>${actor.lastName}</td>
        </tr>
    </#list>
</table>
<h1>Actors without films</h1>
<table>
    <tr>
        <th>FirstName</th>
        <th>LastName</th>
    </tr>
    <#list actorsWithoutFilm as actor>
        <tr>
            <td>${actor.firstName}</td>
            <td>${actor.lastName}</td>
            <td>
                <form method="post">
                    <input type="hidden" name="id" value="${car.id}">
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">
                    <input type="submit" value="add">
                </form>
            </td>
        </tr>

    </#list>
</table>
</body>
</html>

