<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Films</title>
</head>
<body>
<h1>Add new film</h1>
<form method="post" action="/films">
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">
    <label for="name">Enter name here:</label>
    <input id="title" type="text" name="name" placeholder="Name">
    <br>
    <label for="year">Enter year here:</label>
    <input id="year" type="text" name="year" placeholder="Year">
    <br>
    <input type="submit" name="" value="ADD">
</form>

</body>
</html>