<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Actors</h1>
<table>
    <tr>
        <th>Name</th>
    </tr>
    <#list actors as actor>
        <tr>
            <td>${actor.firstName}</td>
        </tr>
    </#list>
</table>
<h1>Actors without film</h1>
<table>
    <tr>
        <th>Name</th>
    </tr>
    <#list actors_without_film as actor>
        <tr>
            <td>${actor.name}</td>
            <td>
                <form method="post">
                    <input type="hidden" name="id" value="${actor.id}">
                    <input type="submit" value="add">
                </form>
            </td>
        </tr>

    </#list>
</table>
</body>
</html>
